
<div class="modal fade" id="bubbleModal<%= bubble.id %>" tabindex="-1" role="dialog" aria-labelledby="bubbleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sick">
    <div class="modal-content">

      <div class="modal-body row">
        <div class="col-sm-6 col-md-8">
          <div class="modal-left">
            <% unless bubble.video.to_s.empty? %>
              <div class="embed-responsive embed-responsive-4by3">
              <%= bubble.video.html_safe %>
              </div>
            <% else %>
              <%= image_tag bubble.icon.url(:full), class: 'img-responsive' if bubble.icon.present? %>
            <% end %>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="modal-right">
            <a href="#" class="book-now"><%= t 'navbar.connect' %></a>
            <h2><%= bubble.title %></h2>
            <p class="tiny"><%= bubble.experience.title %></p>
            <p><%= bubble.body.html_safe %> </p> 
            
            <div class="sep"></div>

            <a href="#" class="back" data-dismiss="modal"><%= t 'close' %></a>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>