<div class="modal fade" id="learnMoreModal" tabindex="-1" role="dialog" aria-labelledby="highlightModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-sick">
    <div class="modal-content">
      
      <div class="modal-body row">
        <div class="col-sm-8">
          <div class="modal-left">
            <% if params[:type] == 'destination' %>
              <% if @stage.lightbox_hero.present? %>
                <%= image_tag( @stage.lightbox_hero.url(:full), class: 'img-responsive') %>  
              <% elsif @stage.destination_hero.present? %>
                <%= image_tag( @stage.destination_hero.url(:full), class: 'img-responsive') %>  
              <% else %>
                <%= image_tag( @stage.destination.hero.url(:full), class: 'img-responsive') %>  
              <% end %>
              <%# image_tag( (@stage.destination_hero.present? ? @stage.destination_hero.url(:full) : @stage.destination.hero.url(:full)), class: 'img-responsive') %>
              
            <% else %>
              <%= image_tag( (@stage.property_hero.present? ? @stage.property_hero.url(:full) : @stage.property.hero.url(:full)), class: 'img-responsive') %>
            <% end %>
            
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="modal-right">

            <a href="#" class="book-now"><%= t 'navbar.connect' %></a>
            
            <h2><%= @stage.read_attribute("#{params[:type]}_name") %></h2>

            <%= @stage.read_attribute("#{params[:type]}_long_description").html_safe %>
            <br><br>

            <% if params[:type] == 'destination' %>
              <%= link_to I18n.t('learn_more_about',name: @stage.destination.name), destination_path(@stage.destination), class: 'view' %>
            <% else %>
              <%= link_to I18n.t('learn_more_about',name: @stage.property_name), property_path(@stage.property), class: 'view' %>
            <% end %>
            <div class="sep"></div>

            <a href="#" class="back" data-dismiss="modal"><%= t 'close' %></a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>